<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2>Welcome to the RPG System Designer (cooler name to come)</h2>

<%= image_tag("Dungeons-and-Dragons-logo.png", class: "img_inline")%>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae erat vitae ipsum volutpat accumsan in nec lectus. Maecenas pulvinar aliquet gravida. Aenean ullamcorper aliquam dapibus. Quisque in dolor et felis placerat adipiscing non nec diam. Donec in turpis nisi, feugiat tristique turpis. Etiam dictum quam et dolor volutpat vulputate. Nunc suscipit dui non neque ullamcorper ac posuere ipsum auctor. Quisque pellentesque rhoncus felis at faucibus. Nulla facilisi. Nam nec malesuada ligula. Etiam malesuada, velit id porttitor ullamcorper, quam nulla ultrices eros, eget faucibus massa nibh hendrerit ante. Vestibulum faucibus, orci sit amet sollicitudin scelerisque, dui quam accumsan nunc, et blandit justo turpis ut nulla. Sed nulla sapien, viverra eget suscipit ut, consectetur sit amet sem. Maecenas vel ipsum sed augue rhoncus molestie. Donec cursus porta velit a malesuada. Aliquam fermentum, sapien quis tincidunt tincidunt, augue mi molestie nisi, quis tempus turpis purus rutrum augue. </p>

<p>Sed non urna arcu, ac accumsan urna. Aenean at libero velit, varius eleifend elit. Morbi eu felis tellus. Sed condimentum leo id neque dignissim tempor. Aenean accumsan condimentum urna in interdum. Donec viverra rutrum nibh a mollis. Aliquam convallis sodales scelerisque. Pellentesque id dui non enim fringilla tempus. Aliquam dictum nibh nec est sodales eu malesuada libero tempus. Suspendisse potenti.</p>

<p>Etiam odio dolor, vulputate a ornare sit amet, accumsan ac ligula. Ut pellentesque laoreet augue, quis gravida mi congue et. Integer sodales ullamcorper mollis. Nunc et est libero, ac molestie quam. Phasellus quis eros dui. Sed ut metus sed sapien convallis rutrum et a dolor. Nulla et quam in nulla vehicula fermentum dictum in magna. Vivamus erat nulla, fringilla mollis elementum id, gravida sit amet turpis. Sed dictum posuere orci vitae consectetur. Nullam at rhoncus sem. </p>

<p>Maecenas at dignissim elit. Proin a tellus orci. Pellentesque ac libero lorem, et aliquet justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vitae sapien porta nulla ultrices adipiscing. Cras tincidunt porta mauris, in scelerisque ipsum pretium egestas. Phasellus molestie rutrum malesuada. Duis et nulla nunc, sed cursus felis. Aliquam ut magna eget sapien ullamcorper ultricies eget eu neque. Proin convallis nulla tempus nisl viverra vehicula.</p>

<p>Pellentesque interdum eleifend sapien, sed sodales dui luctus a. In in purus ante, sit amet adipiscing metus. Vestibulum et lacus congue elit imperdiet eleifend ut eu est. Duis vitae sollicitudin nisi. Ut ac nulla vel diam pharetra vulputate quis vel nibh. Cras convallis nisi nec eros viverra vitae vulputate ante porta. Mauris ac ultricies elit.</p>